@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius&family=Fredoka:wght@300..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Tangerine:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #C8D9E6; 
  font-family: "Fredoka", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container {
  text-align: center;
  z-index: 2;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px); /* geser naik sedikit */
}

.title {
  font-size: 70px;
  color: #F5EFEB; 
  margin-bottom: 1.5rem;
  font-family: "Tangerine", sans-serif;  
}

.cake-section {
  position: relative;
}

.cake {
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;       
  margin: 0 auto;
}

.cake:hover {
  transform: scale(1.08);
}

/* animasi teks “Klik 🍰” */
.hint {
  font-size: 0.95rem;
  color: #F5EFEB; 
  margin-top: 4px;
  opacity: 0;
  animation: blink 2s infinite ease-in-out;
}

p {
  margin: 0;
}

@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.wish {
  font-family: "Parisienne", sans-serif;
  margin-top: 30px;
  font-size: 2.3rem;
  color: #F5EFEB;
  font-weight: 500;
}

/* ===== Animasi pintu ===== */
.door {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #567C8D; /* glacier */
  z-index: 1;
  transition: transform 1.2s ease-in-out;
}

.left-door {
  left: 0;
  transform-origin: left;
}

.right-door {
  right: 0;
  transform-origin: right;
}

.open-left {
  transform: translateX(-100%);
}

.open-right {
  transform: translateX(100%);
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* halaman kedua nanti fade-in */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

